@font-face { font-family: Pokemon; src: url('pokemon-font.ttf'); } ji

html {
  background-color: rgb(96, 120, 255);
}
body{
  margin: 0;
}
#header{
  background-color: rgb(25, 25, 206);
  width:100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
#header img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#pokemon-cards{
  margin-top: 20px;
  margin-right:20px;
  margin-left:20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pokemon-card{
  display: inline-block;
  width: 200px;
  height:275px;
  background-color: white;
  border: 2px solid black;
}
.pokemon-card img{
  max-height:100%;
  max-width:100%;
  pointer-events: none;
}
.pokemon-card p{
  text-align: center;
  margin-top: 0;
  margin-bottom:0;
  pointer-events: none;
}
.pokemon-card h3{
  text-align: center;
  pointer-events: none;
}
#pokemon-cards :hover{
  cursor: pointer;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(3);
  transform: scale(1.2);
}

#overlay{
  position:fixed;
  opacity:0;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transition: 200ms ease-in-out;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}

.modal {
  display: inline-block;
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 1;
  background-color: white;
  height:calc(189px * 2.75);
  width:calc(255px * 2.75);
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

#pokedex_template {
  height:100%;
  width:100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.pkmn_sprite_front {
  display: inline-block;
  position: absolute;
  height: calc(96px*3);
  width: calc(96px*3);
  top: 10%;
  left:0;
  z-index: 3;
}

.pkmn_sprite_back {
  display: inline-block;
  position: absolute;
  height: calc(96px*2);
  width: calc(96px*2);
  top: 23%;
  left:33%;
  z-index: 3;
}

.pkdx_name {
  display: inline-block;
  position: absolute;
  font-family: Pokemon;
  font-size: x-large;
  color: white;
  text-shadow: -2px 2px 0px #000,
  2px 2px 0px #000,
 2px -2px 0px #000,
-2px -2px 0px #000;
  top:8.5%;
  left:60%;
  z-index: 4;
}

.pkdx_nickname {
  display: inline-block;
  position: absolute;
  font-family: Pokemon;
  font-size: x-large;
  color: white;
  text-shadow: -1px 1px 1px #000,
  1px 1px 1px #000,
 1px -1px 1px #000,
-1px -1px 1px #000,
-2px 2px 1px #000,
  2px 2px 1px #000,
 2px -2px 1px #000,
-2px -2px 1px #000;
  top:17%;
  left:50%;
  z-index: 4;
}

.pkdx_id {
  display: inline-block;
  position: absolute;
  font-family: Pokemon;
  font-size: x-large;
  color: white;
  text-shadow: -2px 2px 0 #000,
  2px 2px 0 #000,
 2px -2px 0 #000,
-2px -2px 0 #000;
  top:8.5%;
  left:50%;
  z-index: 5;
}

.pkdx_ht{  display: inline-block;
  position: absolute;
  font-family: Pokemon;
  font-size: x-large;
  top:42.5%;
  left:75%;
  z-index: 5;
}

.pkdx_wt{  display: inline-block;
  position: absolute;
  font-family: Pokemon;
  font-size: x-large;
  top:51.5%;
  left:75%;
  z-index: 5;
}

.pkdx_description{ 
  display: inline-block;
  position: absolute;
  font-family: Pokemon;
  font-size: x-large;
  top:68%;
  left:10%;
  margin-right: 35px;
  z-index: 5;
}


